
html{
    box-sizing:border-box
}
button a{
    background-color: brown;
}

.o-container{
    text-align: center;
}

body{
    margin:0
}
h1{
    font-size:36px}
h2{
    font-size:30px
}
.o-btn,.o-button{
    border:black;
    display:inline-block;
    padding:12px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    font-size: larger;
    cursor:pointer;
    white-space:nowrap
}
.o-rest{
    overflow:hidden
}
.o-stretch{
    margin-left:-16px;
    margin-right:-16px
}
.o-content,.o-auto{
    margin-left:auto;
    margin-right:auto
}
.o-content{
    max-width:980px
}.o-auto{max-width:1140px}

.o-center{
    text-align:center!important
}
.o-light-grey{
    margin-top: 3px;
    background-color: lightgray;
}
.demo {
    margin-top: 3px;
    background-color: lightgray;
    margin-bottom: 3px;
}
.o-button:active{
    background-color: gray;
}
.demo:focus{
    background-color: gray;
}


